<div class="container">
  <div class="content">
    <mat-card *ngIf="message">
      <mat-card-header>
        <mat-card-title>Notification: {{ message.notification.title }} </mat-card-title>
      </mat-card-header>

      <mat-card-content >
        <p><strong>{{ message.notification.body }}</strong></p>
      </mat-card-content>
    </mat-card>
    
    <mat-card *ngIf="!message">
      <mat-card-header>
        <mat-card-title>Notification: </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p><strong>You have no notification</strong></p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="cards">
    <mat-card class="card" (click)="loadJournal()">
      <mat-card-header>
        <mat-icon>book</mat-icon>
        <mat-card-title>Journal</mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card class="card" (click)="loadAggrid()">
      <mat-card-header>
        <mat-icon>list</mat-icon>
        <mat-card-title>Journal List</mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card class="card" (click)="loadMap()">
      <mat-card-header>
        <mat-icon>my_location</mat-icon>
        <mat-card-title>Location</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</div>

<footer class="footer">
  <div class="footer-content">
    <div class="footer-item" (click)="sendNotification()">
      <mat-icon> unsubscribe</mat-icon>
      <span>Send Notification</span>
    </div>    
    <div class="footer-item" (click)="loadPayment()">
      <mat-icon>local_cafe</mat-icon>
      <span>Donate a Coffee</span>
    </div>
  </div>
</footer>