<div class="container">
  <div class="cards"> 
    <mat-card class="card" (click)="loadJournal()">
      <mat-card-header>
        <mat-card-title>Journal</mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card class="card" (click)="loadGame()">
      <mat-card-header>
        <mat-card-title>Game</mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card class="card" (click)="loadPayment()">
      <mat-card-header>
        <mat-card-title>
          <mat-icon>local_cafe</mat-icon> 
          Donate a Coffee
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card class="card" (click)="loadMap()">
      <mat-card-header>
        <mat-card-title>Location</mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card class="card" (click)="loadAggrid()">
      <mat-card-header>
        <mat-card-title>Journal List</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</div>

<!--  Testing purpose

  <div> 
    <mat-card>
      <mat-card-header [routerLink]="['/journal/Hello']">
        Journal
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header [routerLink]="['/game/sea']">
        Game
      </mat-card-header>
    </mat-card>
  </div>
   -->