
  <div class="app-container">
    <mat-toolbar class="mat-toolbar" color="primary">
      <button *ngIf="!isHomePage()" mat-icon-button [routerLink]="'/home'" >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span class="spacer"></span>
      <span class="toolbar-title">Journal Application</span>
      <span class="spacer"></span>
      <span *ngIf="loggedIn">
        <button mat-icon-button [routerLink]="'/home'">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button (click)="logout()" >
          <mat-icon>logout</mat-icon>
        </button>
        <mat-button-toggle mat-raised-button color="warn" (click)="deleteAccount()">
          Delete My Account 
        </mat-button-toggle>
      </span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
  
