<div class="login-container">
  <div class="login">
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
      
      <mat-label>Email:</mat-label>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="username">
      </mat-form-field>
      <mat-label>Password:</mat-label>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Login</button>

      Don't have an account? Click here to sign up

      <button mat-raised-button color="accent" type="button" [routerLink]="['/signup']">
        Sign Up
      </button>

    </form>
  </div>
</div>

<!-- <div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <table>
        <tr>
          <td>Email:</td>
          <td><input type="text" formControlName="username"></td>
        </tr>
        <tr>
          <td>Password:</td>
          <td><input type="password" formControlName="password">
        </tr>
        <tr>
          <td></td>
          <td><button type="submit">Login</button></td>
        </tr>
        <tr>
          <td>
            Don't have a account ? Click here to sign up
          </td>
          <td>
            <button mat-raised-button color="primary" type="button" [routerLink]="['/signup']">
              Sign Up
            </button>
          </td>
        </tr>

      </table>
    </form>
</div> -->
<!-- For testing purpose -->
<!-- <asl-google-signin-button *ngIf="!gUser"></asl-google-signin-button>
  <div *ngIf="gUser">
    <img src="{{ gUser.photoUrl }}">
      <h4>{{ gUser.name }}</h4>
      <p>{{ gUser.email  }}</p> -->