<div class="container">
  <h1 *ngIf="!newEntry"></h1>
  <mat-button-toggle (click)="setNewEntryToTrue()" *ngIf="!newEntry">New Entry</mat-button-toggle>

  <div *ngIf="deleted">
    <mat-button-toggle (click)="undo()">Undo Delete</mat-button-toggle>
  </div>

  <div *ngIf="newEntry">
    <h2>Create a new journal entry</h2>
    <form [formGroup]="entryForm" (ngSubmit)="saveJournalEntry()" class="form">
      <mat-form-field appearance="outline">
        <mat-label>Date</mat-label>
        <input matInput [max]="maxDate" [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Message</mat-label>
        <input matInput #message maxlength="256" placeholder="Any Quote you would like to add" formControlName="message" [value]="ifQuote ? quote : ''">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Author</mat-label>
        <input matInput formControlName="author" [value]="ifQuote ? quoteAuthor : ''">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Thoughts</mat-label>
        <textarea matInput placeholder="What are your thoughts today" formControlName="thoughts"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Feelings</mat-label>
        <input matInput #message maxlength="256" placeholder="How are you feeling today" formControlName="feelings">
      </mat-form-field>

      <div class="actions">
        <button mat-raised-button color="primary" type="submit">Save Entry</button>
        <button mat-raised-button color="accent" (click)="getQuote()">Get Quote</button>
      </div>
    </form>

    <div *ngIf="quote" class="quote">
      <p><strong>Message:</strong> {{quote}}</p>
      <p><strong>Author:</strong> {{quoteAuthor}}</p>
    </div>
  </div>

  <div *ngIf="userJournalList && !newEntry">
    <h2>Hello {{user}}, these are your journal entries!</h2>
    <mat-card *ngFor="let j of userJournalList.journalList">
      <mat-card-header>
        <mat-card-title>Date: {{j.date}}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p><strong>Feeling: </strong>{{j.feelings}}</p>
        <p><strong>Quote of the day:</strong> {{j.message}} -{{j.author}}</p>
        <p><strong>Your thoughts:</strong> {{j.thoughts}}</p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button color="warn" (click)="remove(j)">Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
