<div class="container">
    
    
   <button mat-raised-button color="primary" (click)="clearSelection()">Clear Selection</button>
   <ag-grid-angular
      style="width: 600px; height: 1000px"
      class="ag-theme-alpine"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [rowData]="rowData$ | async"
      [rowSelection]="'multiple'"
      [animateRows]="true"
      (gridReady)="onGridReady($event)"
      (cellClicked)="onCellClicked($event)"
   ></ag-grid-angular>
</div>
<!-- <div class="grid-container">
   <button (click)="clearSelection()">Clear Selection</button>
   <ag-grid-angular
     style="width: 100%; height: 100%;"
     class="ag-theme-alpine"
     [columnDefs]="columnDefs"
     [defaultColDef]="defaultColDef"
     [rowData]="rowData$ | async"
     [rowSelection]="'multiple'"
     [animateRows]="true"
     (gridReady)="onGridReady($event)"
     (cellClicked)="onCellClicked($event)"
   ></ag-grid-angular>
 </div> -->
